---
layout: 2020/list
section: propuestas
permalink: 2020/otras/
title: Otras propuestas esLibre 2020
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Otras propuestas para es<span class="red">Libre</span> 2020</strong></h1>
  </div>
</div>
<hr class="my-4">

<p style="padding-top: 1em" align="center">
  <cite style="color: black;">
    <strong><span class="red">ATENCIÓN</span></strong>: Debido a la situación por el COVID-19, la celebración de <strong>es<span class="red">Libre</span> 2020</strong> finalmente se celebrará de forma <strong>completamente online</strong>. Más información <a href="https://eslib.re/2020/reanudacion/">aquí</a>.
  </cite>
</p>

<ul id="list">
  {% for other in site.pages %}
    {% if other.path contains '2020/otras' and other.path contains '.md' and other.category == 'others' %}
      {% if other.state and other.state == "cancelled" %}
        <li><a class="cancelled" href="/{{ other.path | remove_first: ".md" }}">{{ other.title}}</a><strong><span class="red"> CANCELADO</span></strong></li>
      {% else  %}
        <li><a href="/{{ other.path | remove_first: ".md" }}">{{ other.title}}</a>{% if other.state and other.state == "confirmed" %}<strong><span class="red"> ¡CONFIRMADO!</span></strong>{% endif %}</li>
      {% endif %}
    {% endif %}
  {% endfor %}
</ul>
